events {
    worker_connections 1024;
}

http {
{% for server in servers %}
    server { # simple reverse-proxy
        listen 80;
        {% if server.names is defined %}server_name{% for server in server.names %}  {{server}}{% endfor %};{% endif %}

        location / {
            proxy_pass      http://127.0.0.1:{{server.port}};
        }
    }
{% endfor %}
}
